# Dependencies
node_modules
.pnp
.pnp.js

# Next.js
.next/
out/
build/

# Production
dist/

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment files
.env*
!.env.example

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Turbo
.turbo
*.turbo

# IDE
.cursor
.vscode
.idea

# OS
.DS_Store
*.pem